/* line 1, ../../app/assets/stylesheets/application.css.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 3, ../../app/assets/stylesheets/application.css.scss */
html {
  line-height: 1;
}

/* line 5, ../../app/assets/stylesheets/application.css.scss */
ol, ul {
  list-style: none;
}

/* line 7, ../../app/assets/stylesheets/application.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../../app/assets/stylesheets/application.css.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 11, ../../app/assets/stylesheets/application.css.scss */
q, blockquote {
  quotes: none;
}

/* line 12, ../../app/assets/stylesheets/application.css.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 14, ../../app/assets/stylesheets/application.css.scss */
a img {
  border: none;
}

/* line 16, ../../app/assets/stylesheets/application.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../../app/assets/stylesheets/application.css.scss */
a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  color: #3d9987;
  text-decoration: none;
  border-bottom: 1px solid rgba(61, 153, 135, 0.15);
}

/* line 19, ../../app/assets/stylesheets/application.css.scss */
a:visited {
  color: #3d9987;
}

/* line 20, ../../app/assets/stylesheets/application.css.scss */
a:focus {
  color: #3d9987;
}

/* line 21, ../../app/assets/stylesheets/application.css.scss */
a:hover {
  color: #50b9a5;
}

/* line 22, ../../app/assets/stylesheets/application.css.scss */
a:active {
  color: #50b9a5;
}

/* line 23, ../../app/assets/stylesheets/application.css.scss */
a:hover, a:active {
  border-bottom: 1px solid rgba(61, 153, 135, 0);
}

/* line 25, ../../app/assets/stylesheets/application.css.scss */
strong {
  font-weight: 600;
}

/* line 27, ../../app/assets/stylesheets/application.css.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #4d4d4d;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 1000px) {
  /* line 29, ../../app/assets/stylesheets/application.css.scss */
  article {
    margin-right: 38.2%;
  }
}
@media (max-width: 1000px) {
  /* line 30, ../../app/assets/stylesheets/application.css.scss */
  article {
    position: absolute;
    top: 38.2%;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  /* line 31, ../../app/assets/stylesheets/application.css.scss */
  article p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 24px auto;
    max-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1000px) {
  /* line 32, ../../app/assets/stylesheets/application.css.scss */
  article p {
    font-size: 20px;
    line-height: 32px;
    margin: 0 auto 32px auto;
    max-width: 600px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
/* line 33, ../../app/assets/stylesheets/application.css.scss */
article p:first-of-type {
  color: #1a1a1a;
  font-weight: 300;
}

@media (max-width: 1000px) {
  /* line 34, ../../app/assets/stylesheets/application.css.scss */
  article p:first-of-type {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1000px) {
  /* line 35, ../../app/assets/stylesheets/application.css.scss */
  article p:first-of-type {
    font-size: 32px;
    line-height: 48px;
    margin-top: 96px;
    margin-bottom: 48px;
  }
}
/* line 37, ../../app/assets/stylesheets/application.css.scss */
figure {
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 1000px) {
  /* line 38, ../../app/assets/stylesheets/application.css.scss */
  figure {
    height: 100%;
    max-width: 600px;
    width: 38.2%;
  }
}
@media (max-width: 1000px) {
  /* line 39, ../../app/assets/stylesheets/application.css.scss */
  figure {
    height: 38.2%;
    max-height: 600px;
    width: 100%;
  }
}
/* line 41, ../../app/assets/stylesheets/application.css.scss */
figcaption {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(255, 255, 255, 0.6);
  height: 100%;
  line-height: 20px;
  position: relative;
  width: 100%;
  background-image: url("pano.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 10px;
  font-weight: 300;
}

@media (min-width: 1000px) {
  /* line 42, ../../app/assets/stylesheets/application.css.scss */
  figcaption {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset;
  }
}
@media (max-width: 1000px) {
  /* line 43, ../../app/assets/stylesheets/application.css.scss */
  figcaption {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset;
  }
}
/* line 44, ../../app/assets/stylesheets/application.css.scss */
figcaption a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border: none;
}

/* line 45, ../../app/assets/stylesheets/application.css.scss */
figcaption a:visited {
  color: rgba(255, 255, 255, 0.8);
}

/* line 46, ../../app/assets/stylesheets/application.css.scss */
figcaption a:focus {
  color: rgba(255, 255, 255, 0.8);
}

/* line 47, ../../app/assets/stylesheets/application.css.scss */
figcaption a:hover {
  color: white;
}

/* line 48, ../../app/assets/stylesheets/application.css.scss */
figcaption a:active {
  color: white;
}

/* line 49, ../../app/assets/stylesheets/application.css.scss */
figcaption span {
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  -webkit-font-smoothing: subpixel-antialiased;
  bottom: 0;
  margin: 12px 16px;
  padding: 0 8px;
  position: absolute;
  right: 0;
}

/* line 52, ../../app/assets/stylesheets/application.css.scss */
html {
  font-family: 'Roboto', sans-serif;
}

/* line 56, ../../app/assets/stylesheets/application.css.scss */
p {
  font-family: 'Roboto', sans-serif;
}
