//colors
$black_20: rgba(0, 0, 0, 0.2);
$color_royal_purple_approx: #639;
$color_lochinvar_approx: #3d9987;
$color_lochinvar_15_approx: rgba(61, 153, 135, 0.15);
$color_tradewind_approx: #50b9a5;
$white: #fff;
$bg_color: #FFFEFC;
$color_emperor_approx: #4d4d4d;
$color_rangoon_green_approx: #1a1a1a;
$white_60: rgba(255, 255, 255, 0.6);
$white_80: rgba(255, 255, 255, 0.8);

//fonts
$font_0: freight-sans-pro;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Roboto;

//urls
$url_0: url(pano.jpg);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  font-family: Roboto, sans-serif;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

a {
  transition-property: all;
  transition-duration: 0.125s;
  color: #3d9987;
  text-decoration: none;
  border-bottom: 1px solid rgba(61, 153, 135, 0.15);
}

a:visited {
  color: #3d9987;
}

a:focus {
  color: #3d9987;
}

a:hover {
  color: #50b9a5;
}

a:active {
  color: #50b9a5;
}

a:hover, a:active {
  border-bottom: 1px solid rgba(61, 153, 135, 0);
}

strong {
  font-weight: 600;
}

body {
  background-color: $bg_color;
  color: #4d4d4d;
  font-family: freight-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 1000px) {
  article {
    margin-right: 38.2%;
  }

  article p {
    font-size: 20px;
    line-height: 32px;
    margin: 0 auto 32px auto;
    max-width: 600px;
    padding-left: 64px;
    padding-right: 64px;
  }

  article p:first-of-type {
    font-size: 32px;
    line-height: 48px;
    margin-top: 96px;
    margin-bottom: 48px;
  }

  figure {
    height: 100%;
    max-width: 600px;
    width: 38.2%;
  }

  figcaption {
    box-shadow: $black_20 1px 0 0 0 inset;
  }

}

@media (max-width: 1000px) {
  article {
    position: absolute;
    top: 38.2%;
    width: 100%;
  }

  article p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 24px auto;
    max-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
  }

  article p:first-of-type {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  figure {
    height: 38.2%;
    max-height: 600px;
    width: 100%;
  }

  figcaption {
    box-shadow: $black_20 0 -1px 0 0 inset;
  }

}

article p:first-of-type {
  color: #1a1a1a;
  font-weight: 300;
}

figure {
  position: absolute;
  right: 0;
  top: 0;
}

figcaption {
  background-size: cover;
  color: $white_60;
  height: 100%;
  line-height: 20px;
  position: relative;
  width: 100%;
  background-image: url(pano.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 10px;
  font-weight: 300;
}

figcaption a {
  color: $white_80;
  text-decoration: none;
  border: none;
}

figcaption a:visited {
  color: $white_80;
}

figcaption a:focus {
  color: $white_80;
}

figcaption a:hover {
  color: $white;
}

figcaption a:active {
  color: $white;
}

figcaption span {
  text-shadow: $black_20 0 1px 1px;
  bottom: 0;
  margin: 12px 16px;
  padding: 0 8px;
  position: absolute;
  right: 0;
}

p {
  font-family: Roboto, sans-serif;
}
